.addEmployees {
  background-color: darkblue;
  color: white;
  padding: 40px;

  .workerTitle {
    margin-bottom: 40px;
  }

  .addWorkersForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    input {
      width: 40%;
      &::placeholder {
        font-size: calc(10px + 12 * (100vw / 1440));
      }
      @media (max-width: 693px) {
        width: 100%;
      }
    }
    button {
      width: 15%;
      @media (max-width: 693px) {
        width: 100%;
        padding: 15px 0;
      }
    }
    
    @media (max-width: 693px) {
      flex-direction: column;
    }
  }
}