.listItem {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  height: 50px;
  border: 1px solid rgba(128, 128, 128, 0.51);
  padding: 5px 10px;

  .worker {
    font-size: calc(12px + 10 * (100vw / 1440));
    width: 20%;
  }

  input {
    text-align: right;
    font-size: calc(12px + 10 * (100vw / 1440));
  }

  .btnIcons {
    display: flex;
    justify-content: space-around;
    width: 30%;

    svg {
      cursor: pointer;
    }

    button {
      border: none;
    }

    .btnCookie {
    }
    .btnTrash {
      width: 40px;
    }
    .btnStar {
      width: 35px;
    }
  }
}