.listItem {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  border: 1px solid rgba(128, 128, 128, 0.51);
  padding: 25px 10px;

  .worker {
    font-size: calc(12px + 6 * (100vw / 1440));
    width: 30%;
    padding: 10px;
    margin-right: auto;
    border-right: 1px solid rgba(128, 128, 128, 0.39);

    &.cookieActive {
      color: #b4bd40;
    }
  }

  input {
    text-align: right;
    width: 30%;
    height: 40px;
    font-size: calc(12px + 10 * (100vw / 1440));
    border-color: rgba(128, 128, 128, 0.59);
  }

  .btnIcons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 20%;

    svg {
      cursor: pointer;
    }

    button {
      border: none;
    }

    .btnCookie {
    }
    .btnTrash {
      width: 40px;
    }
    .btnStar {
      width: 35px;
    }
  }
}